  <section class='sign-in-box'>
    <h1 class='logo'> Photostash </h1>
      <span class='auth-error'><%= flash[:errors].join("<br>").html_safe if flash[:errors] %></span>

    <form action='<%=session_url%>' method="post">
      <input type="hidden" name="authenticity_token" value= '<%=form_authenticity_token%>'>

      <article>
        <input type="text"
               name="user[username]"
               value='<%=@user.username%>'
               class='username-input'
               placeholder= 'Username'>
      </article>

      <article>
        <input placeholder= 'Password'
               type="password"
               name="user[password]"
               value='<%=@user.password%>'
               class='password-input'>
      </article>

      <article>
        <input type="submit"
              value="Log in"
              class='submitbutton'
              tabindex='0'>
      </article>

      <article class='no-account'>
        Don't have an account? <%=  link_to 'Sign_up', new_user_url %> or use the
      </form>
        <form action='<%=session_url%>' method="post" class='demo-user-form'>
          <input type="hidden" name="authenticity_token" value= '<%=form_authenticity_token%>'>
          <input type="hidden"  name="user[username]" value= 'demo-account'  >
          <input type="hidden"  name="user[password]" value= '123456'  >
          <input type="submit" value="Demo Account" class='demo-user-button'>
        </form>

      </article>


</section>


<script>
  var backgroundImage=new Array()
  backgroundImage[0]="https://unsplash.it/" +2000 + "/"+ 1200 +"/?image=10"
  backgroundImage[1]="https://unsplash.it/" +2000 + "/"+ 1200 +"/?image=301"
  backgroundImage[2]="https://unsplash.it/" +2000 + "/"+ 1200 +"/?image=307"
  backgroundImage[3]="https://unsplash.it/" +2000 + "/"+ 1200 +"/?image=309"
  backgroundImage[4]="https://unsplash.it/" +2000 + "/"+ 1200 +"/?image=314"
  backgroundImage[5]="https://unsplash.it/" +2000 + "/"+ 1200 +"/?image=315"
  backgroundImage[6]="https://unsplash.it/" +2000 + "/"+ 1200 +"/?image=316"
  backgroundImage[7]="https://unsplash.it/" +2000 + "/"+ 1200 +"/?image=319"

  var pathToImages=new Array()
  for (i = 0; i < backgroundImage.length; i++){
    pathToImages[i]=new Image()
    pathToImages[i].src=backgroundImage[i]
  }
  var currentImageIndex = 0

  function rotateImage(){
    document.body.background = pathToImages[0].src
    window.setInterval(function() {
      if (currentImageIndex <backgroundImage.length-1)
        currentImageIndex++
      else
        currentImageIndex = 0
        pathToImages[currentImageIndex] = new Image()
        pathToImages[currentImageIndex].src=backgroundImage[currentImageIndex]

      document.body.background = pathToImages[currentImageIndex].src
    }, 8000)
}

if (document.all||document.getElementById)

  window.onload=new Function("rotateImage()")
</script>
