  <section class='sign-up-box'>
  <h1 class='logo'> Photostash </h1>
  <%= flash[:errors].join("<br>").html_safe if flash[:errors] %>

  <form action='<%=users_url%>' method="post">
    <input type="hidden" name="authenticity_token" value= '<%=form_authenticity_token%>'>

    <article>
      <input type="text" name="user[username]" value='<%=@user.username%>' class='username-input' placeholder= 'Username'>
    </article>


    <article>
      <input type="text" name="user[password]" value='<%=@user.password%>' placeholder='Password' class='password-input'>
    </article>

    <article>
      <input type="submit" value="Sign Up", class='submitbutton'>
    </article>

    <article class='yes-account'>
    Already have an account? <%=  link_to 'Log in', new_session_url %>
    </article>

  </form>
</section>
